for_format_list

In [2]:
s = '{} {} {}'
s.format

In [4]:
s= '{}이는{}와{}흘 좋아해'
pr=s.format('쉣','쉣2','쉣3')
print(pr)

쉣이는쉣2와쉣3흘 좋아해

In [5]:
s= '{}이는{}번이고{}대학에 갔어'
pr=s.format('쉿',33333,'홀리')
print(pr)

쉿이는33333번이고홀리대학에 갔어

###[문제]햄버거 1개는 4달라###

In [6]:
s= '{} {}개는 {}달라'
pr=s.format('햄버거',1,4)
print(pr)

햄버거 1개는 4달라

In [7]:
food = '햄버거'
num = 2
doolar = num*4
s= '{} {}개는 {}달라'
pr=s.format(food,num,doolar)
print(pr)

햄버거 2개는 8달라

In [13]:
food = list(map(int,input('햄버거 개수 가격(순서대로)>>').split()))
num = int(food[0])
doolar = num*int(food[1])
s= '{} {}개는 {}달라'
pr=s.format('햄버거',num,doolar)
print(pr)

햄버거 개수 가격(순서대로)>>10 5
햄버거 10개는 50달라

In [16]:
stu = '%s %d학년 %s'
pr = stu%('인천여상',3,'김고은')
pr

'인천여상 3학년 김고은'

In [23]:
juso = '     인천시 연수구 동춘동      '
juso

'     인천시 연수구 동춘동      '

In [18]:
type(juso)

str

In [20]:
add=juso.strip()

In [21]:
juso

'     인천시 연수구 동춘동      '

In [22]:
add

'인천시 연수구 동춘동'

In [24]:
len(add)

11

In [25]:
len(juso)

22

In [26]:
add.split()

['인천시', '연수구', '동춘동']

In [29]:
add.endswith('동춘동')

True

In [30]:
add.startswith('인천')

True

In [31]:
num=10
if num==10:
    print('숫자10')
else:
    print('10아님')

숫자10

In [32]:
num=int(input())
if num%2==0:
    print('퓅수')
else:
    print('웤후맨')

1
웤후맨

In [33]:
sum = 0
for i in range(20,31):
    if i%2 !=0:
        sum+=i
        print(i)
print("홀수합 > ",sum)

21
23
25
27
29
홀수합 >  125

#[문제만들기]
for if 포함

In [40]:
num = int(input())
hsum = 0;
jsum = 0;
for i in range(1,num+1):
    if i%2==0:
        hsum+=i;
    elif i%2!=0:
        jsum+=i;
    print(i)
print("홀수 합",hsum)
print("짝수 합",jsum)
print("둘의 합",hsum+jsum)

10
1
2
3
4
5
6
7
8
9
10
홀수 합 30
짝수 합 25
둘의 합 55